
  
  .mobilenumber  {
    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   }
  
   
  
  .login  {
   
      color:white;
      background-color:#3F51B5;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic
    }
  

  


  